<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/navStyle.css">
</head>
<body>
<div th:fragment="nav" class="nav">
    <nav class="nav-itens">

        <a th:href="@{/home}" class="logo"><img th:src="@{../js/images/LogoTravelBuddy.png}" alt="Logo" class="imagen-logo"></a>

        <!-- Usuário NÃO logado -->
        <a th:if="${session.usuarioLogado == null}" th:href="@{/login}" class="login">Login</a>

        <!-- Usuário logado -->
        <div th:if="${session.usuarioLogado != null}" class="user-area">

            <a th:text="${session.usuarioLogado.email}"></a>
            <img th:src="@{/js/images/UserIcon.png}" alt="Usuário" class="user-icon">

            <a th:if="${session.usuarioLogado != null}" th:href="@{/logout}" class="login">Logout</a>

        </div>
    </nav>
</div>
</body>
</html>