<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"th:href="@{/css/IndexStyle.css}">
    <link rel="stylesheet" th:href="@{/css/navStyle.css}">
    <link rel="stylesheet" th:href="@{/css/footerStyle.css}">
    <title>Home</title>
</head>
<body>
    <div th:replace="fragments/nav :: nav"></div>

    <main>

    </main>

    <div th:replace="fragments/footer :: footer"></div>

</body>
</html>