<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/ResetPasswordStyle.css}">
    <link rel="stylesheet" th:href="@{/css/navStyle.css}">
    <title>Document</title>
</head>
<body>
    <div th:replace="fragments/nav :: nav"></div>

    <h1>LOGIN</h1>
    <form action="/reset" th:object="${reset}" method="post" class="form-reset">
        
        <label>Senha:</label>
        <input name="senha" th:value="${senha}" type="password" required pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[@#$%^&+=!]).{8,}$" title="A senha deve ter pelo menos 8 caracteres, incluindo maiúscula, minúscula, número e caractere especial">

        <label>Reescreva a Senha:</label>
        <input name="confirmarSenha" th:value="${ConfirmarSenha}" type="password" required pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[@#$%^&+=!]).{8,}$" title="A senha deve ter pelo menos 8 caracteres, incluindo maiúscula, minúscula, número e caractere especial">

        <button type="submit">Entrar</button>
        <p name="mensagemDeErro" th:text="${mensagemDeErro}"></p>
        
        <a href="/login">Ja tem cadastro em nossa plataforma? clique aqui para Logar</a>
        <a href="/Subscription">Ainda não está cadastrado em nossa plataforma? clique aqui para Registrar</a>
        
    </form>
</body>
</html>