<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/ResetPassword_VerificationStyle.css}">
    <link rel="stylesheet" th:href="@{/css/navStyle.css}">
    <title>ResetPassword</title>
</head>
<body>
    <div th:replace="fragments/nav :: nav"></div>

    <h1 class="title">Recuperar Senha</h1>
    <form action="/ResetVerification" th:object="${ResetVerification}" method="post" class="form-ResetVerification">

        <label class="label_info">E-mail</label>
        <input name="email" th:value="${email}" type="email" required class="textbox">

        <button type="submit" class="Sendbutton">Enviar Codigo de Verificação</button>
        <p name="mensagemDeErro" th:text="${mensagemDeErro}"></p>
        
        <a href="/login" class="link_pull">Ja tem cadastro em nossa plataforma? clique aqui para Logar</a>
        <a href="/Subscription" class="link_pull">Ainda não está cadastrado em nossa plataforma? clique aqui para Registrar</a>
        
    </form>
</body>
</html>