<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/ResetPassword_VerificationStyle.css}">
    <link rel="stylesheet" th:href="@{/css/navStyle.css}">
    <title>Document</title>
</head>
<body>
    <div th:replace="fragments/nav :: nav"></div>

    <h1>LOGIN</h1>
    <form action="/ResetVerification" th:object="${ResetVerification}" method="post" class="form-ResetVerification">

        <label>E-mail</label>
        <input name="email" th:value="${email}" type="email" required >

        <button type="submit">Entrar</button>
        <p name="mensagemDeErro" th:text="${mensagemDeErro}"></p>
        
        <a href="/login">Ja tem cadastro em nossa plataforma? clique aqui para Logar</a>
        <a href="/Subscription">Ainda não está cadastrado em nossa plataforma? clique aqui para Registrar</a>
        
    </form>
</body>
</html>