<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/subscriptionStyle.css}">
    <link rel="stylesheet" href="css/subscriptionStyle.css">
    <link rel="stylesheet" href="../css/navStyle.css">
    <title>Registrar</title>
</head>
<div id="modalTermos" class="modal">

    <div class="modal-conteudo">

        <span class="fechar" onclick="fecharModal()">
            &times;
        </span>

        <h2>Termos de Uso</h2>

        <p>Versão: 1.0.0 Data: 16/05/2026</p>

        <p>
            Ao realizar o cadastro na plataforma, o usuário declara estar ciente e concordar com a coleta e tratamento de seus dados pessoais, em conformidade com a Lei Geral de Proteção de Dados Pessoais (LGPD – Lei nº 13.709/2018).
            Os dados coletados incluem:
            Nome
            Sobrenome
            E-mail
            Senha
            As informações serão utilizadas exclusivamente para fins de identificação do usuário, autenticação de acesso, recuperação de conta, comunicação com a plataforma e utilização dos serviços oferecidos.
            A senha do usuário será armazenada de forma criptografada utilizando a tecnologia BCrypt, integrada ao framework Spring Boot, garantindo maior segurança e proteção das informações.
            O usuário poderá, a qualquer momento, solicitar consulta, exportação, atualização ou exclusão de seus dados pessoais, bem como revogar o consentimento concedido, conforme previsto pela LGPD.
            Ao selecionar a opção de aceite durante o cadastro, o usuário confirma que leu e concorda com os termos apresentados para tratamento de seus dados pessoais.
        </p>

        <p>
            A finalidade deste Termo de Consentimento é garantir transparência no tratamento dos dados pessoais coletados pela plataforma, assegurando que o titular esteja plenamente ciente sobre quais informações serão armazenadas, bem como os objetivos de sua utilização. Por meio deste consentimento, o usuário autoriza de forma livre, informada e inequívoca o tratamento de seus dados pessoais para fins de identificação, autenticação, segurança, comunicação e utilização dos serviços disponibilizados pela plataforma, em conformidade com os princípios e diretrizes estabelecidos pela Lei Geral de Proteção de Dados Pessoais.
        </p>

    </div>

</div>

<script>

    function abrirModal(){
        document.getElementById("modalTermos").style.display = "block";
    }

    function fecharModal(){
        document.getElementById("modalTermos").style.display = "none";
    }

    window.onclick = function(event){

        const modal = document.getElementById("modalTermos");

        if(event.target == modal){
            modal.style.display = "none";
        }
    }

</script>

<body>
    <div th:replace="fragments/nav :: nav"></div>

    <h1 class="title">Registrar</h1>
    <form action="/Subscription" th:object="${usuario}" method="post" class="form-login">
        <label class="label_info">Nome</label>
        <input name="nome" th:value="${nome}" type="text" id="nome" required class="textbox">

        <label class="label_info">Sobrenome</label>
        <input name="sobrenome" th:value="${sobrenome}" type="text" id="sobrenome" required class="textbox">

        <label class="label_info">E-mail</label>
        <input name="email" th:value="${email}" type="email" id="email" required class="textbox">

        <div class="termos-container">

            <label for="termos" class="label_info">Eu aceito os</label>

            <span class="abrir-termos" onclick="abrirModal()">Termos de Uso</span>

            <input name="termos" type="checkbox" required class="checkbox" id="termos">

        </div>

        <label class="label_info">Senha:</label>
        <input name="senha" th:value="${senha}" type="password" id="senha" required pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[@#$%^&+=!]).{8,}$" title="A senha deve ter pelo menos 8 caracteres, incluindo maiúscula, minúscula, número e caractere especial" class="textbox">

        <button type="submit" id="btnSubmit" disabled class="Sendbutton">Registrar</button>

        <p name="mensagemDeErro" th:text="${mensagemDeErro}"></p>

        <div class="linksuteis" >
            <a href="/login" class="link_pull">Ja tem cadastro em nossa plataforma? clique aqui para Logar</a>
        </div>
    </form>
</body>
<script>
    const campos = document.querySelectorAll("#nome, #sobrenome, #email, #senha");
    const checkbox = document.getElementById("termos");
    const botao = document.getElementById("btnSubmit");

    function validarCampos() {
        let todosPreenchidos = true;

        campos.forEach(campo => {
            if (campo.value.trim() === "") {
                todosPreenchidos = false;
            }
        });

        const termosAceitos = checkbox.checked;

        botao.disabled = !(todosPreenchidos && termosAceitos);
    }

    campos.forEach(campo => {
        campo.addEventListener("input", validarCampos);
    });

    checkbox.addEventListener("change", validarCampos);
</script>
</html>