<!DOCTYPE html>
<html>
<head>
    <title>Verificação 2FA</title>
    <link rel="stylesheet" th:href="@{/css/verificarStyle.css}">
    <link rel="stylesheet" th:href="@{/css/navStyle.css}">
</head>
<body>
    <div th:replace="fragments/nav :: nav"></div>

    <h2>Digite o código enviado para seu email</h2>

    <form th:action="@{/verificar}" method="post">
        <input type="text" name="codigo" placeholder="Digite o código" required>
        <button type="submit">Verificar</button>
    </form>

    <p th:if="${erro}" th:text="${erro}" style="color:red;"></p>

</body>
</html>