@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

.imagen-logo{
    width: 60px;
    height: 60px;
}

.nav{
    height: 80px;
    border-bottom: 1px solid;
    border-color: rgba(0, 0, 0, 0.158);

}

.nav-itens{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 30px;
}

.logo{
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-weight: 800;
}

.logo:visited{
    color: black;
}

.login{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 30px;
    border-radius: 10px;

    background-color: #5FA8D3;
    text-decoration: none;
    color: rgb(238, 238, 238);
    font-family: "Inter", sans-serif;
    font-weight: 800;

}

.login:hover{
    transition: background-color 0.2s ease;
    background-color: #1B4965;
}

.login:visited{
    color: rgb(238, 238, 238);
    text-decoration: none;
}

.user-icon{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}

.user-area{
    display: flex;
    align-items: center;
    gap: 10px;
}