@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

.nav{
    height: 60px;
    background-color: rgba(0, 0, 0, 0.239);
}

.nav-itens{
    padding-top: 20px;
}

.logo{
    margin-left: 30px;
    position: absolute;
    left: 0px;
    text-decoration: none;
        font-family: "Inter", sans-serif;
        font-weight: 800;
}

.login{
    text-align: center;
    margin-right: 30px;
    position: absolute;
    right: 0px;
    background-color: aqua;
    width: 80px;
    height: 30px;
    border-radius: 10px;
    text-decoration: none;
        font-family: "Inter", sans-serif;
        font-weight: 800;
}